/* Red banner bar to display severe weather alerts in.
 *
*/

#alertBanner {
	color: darkred;
	background-color: lightpink;
	border-style: solid;
	border-width: 1px;
	border-color: red;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 95%;
/* Hide intially */
	display: none;
}

#alertHeader {
	font-weight: bold;
	font-variant:small-caps;
	text-align: center;
}

.alertInformation {
}

#expandAlertHeader, 
#minimizeAlertInformation {
	width: 100%;
	text-align: right;
	font-size: 8pt;
	height: 16pt;
}

#alertFooter {
	text-align: left;
	float: left;
	font-size: 14pt;
}

.alertDivider {
	width: 80%;
}
